input_schemas/schema_event_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="EventStreamInput">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="event" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="event_id" type="xs:string"/>
                            <xs:element name="event_type" type="xs:string"/>
                            <xs:element name="intersection_id" type="xs:string"/>
                            <xs:element name="road_id" type="xs:string"/>
                            <xs:element name="priority" type="xs:int"/>
                            <xs:element name="ts" type="xs:int"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>