input_schemas/schema_command_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="CommandStreamInput">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="command" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="cmd_id" type="xs:string"/>
                            <xs:element name="signal_id" type="xs:string"/>
                            <xs:element name="action" type="xs:string"/>
                            <xs:element name="duration" type="xs:int"/>
                            <xs:element name="reason" type="xs:string"/>
                            <xs:element name="ts" type="xs:int"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>