input_schemas/schema_sensor_input.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
    <xs:element name="SensorStreamInput">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sensor_event" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="pkt_id" type="xs:string"/>
                            <xs:element name="intersection_id" type="xs:string"/>
                            <xs:element name="road_id" type="xs:string"/>
                            <xs:element name="signal_id" type="xs:string"/>
                            <xs:element name="vehicle_count" type="xs:int"/>
                            <xs:element name="avg_speed" type="xs:float"/>
                            <xs:element name="occupancy" type="xs:float"/>
                            <xs:element name="ts" type="xs:int"/>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>